.tab {
  flex: 1;
  display: flex;
  height: 186px;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 6px;
  margin: 0px 2px 0px 6px;
}

.container-leg {
  border-bottom: 1px solid rgb(56, 56, 56);
}

.tab-button {
  background-color: inherit;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 20px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 46px;
  transition: 0.3s;
  color: white;
}

.tab-button:hover {
  color: #8bf0f8;
}

.active1 {
  color: #8bf0f8;
}

.content {
  margin-top: 8px;
  color: white;
}

