.switcher {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 24px;
  width: max-content;
  margin-top: 28px;
  margin-left: 18px;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 10px;
  z-index: 1000;
}

.switcher-item {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 6px 7px;
  margin: 2px;
  border-radius: 6px;
}

.switcher-item:hover {
  color: #29f1ff;
}

.active {
  color: #29f1ff;
}

.legend{
  position: absolute;
  margin-top: 68px;
  margin-left: 48px;
  font-size: 26px;
  font-weight: bold;
  z-index: 1000;
}